html {
  font-size: 100%;
  background: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}

body {
  line-height: 1.5;
}

/** Consider later if a background-color property is nectary for the header **/

h1 {
  text-indent: 1.5em;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 36px;
}

#navbar {
  background-color: silver;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: slategray;
}

p {
  text-indent: 1.5em;
  text-align: start;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: whitesmoke;
  display: flex; /* or inline-flex */
  flex-direction: column;
  padding-top: 50px;
}
